DATABASE_URL="mysql+pymysql://USUARIO:CLAVE@HOST:PUERTO/NOMBRE_DB"

# Configuracion de correos

BREVO_API_KEY="clave_de_brevo"
# Brevo solo envio correctamente si el FROM_EMAIL esta verificado en tu cuenta de Brevo.
# Si el dominio no esta verificado, el correo puede quedar en spam o ni siquiera salir.
FROM_EMAIL="noreply@BDT.com"
COMPANY_NAME="BDT Seguros"

# Motor LLM para envio de correos
# Opciones disponibles: "google", "openai", "local"
LLM_PROVIDER="local"

# API Keys (si se usa "google" u "openai")
GOOGLE_API_KEY="clave_de_google"
OPENAI_API_KEY="clave_de_openai"

# Endpoint Local (si se usa "local")
# (Este es el endpoint de un servidor como Ollama)
LOCAL_LLM_URL="http://localhost:11434/api/generate"
LOCAL_LLM_MODEL_NAME="phi3:mini" # El nombre del modelo que usas en Ollama, ya sea "llama3" "phi3", "mistral", "gemma:2b"